@define-color miniwidget_bg_color rgb(57,63,63);

image.image-overlay {
 border-style: solid;
 border-color: rgb(255,255,255);
 background-color: rgb(255,255,255);
}

image.image-overlay-missing-image {
 border-color: rgba(0,0,0,0);
 background-color: rgba(0,0,0,0);
}

#cover_overlay image.image-overlay {
 border-width: 5px;
}

#cover_overlay toolbar {
 transition: 300ms ease;
 opacity: 1;
}

#cover_overlay toolbar:indeterminate {
 opacity: 0;
}

#miniwidget {
 border-style: solid;
 border-width: 1px;
 border-color: rgb(148, 151, 150);
 background-color: @miniwidget_bg_color;
}

#miniwidget image.image-overlay {
 border-width: 1px;
}

#miniwidget label {
 color: rgb(255, 255, 255);
}

#miniwidget label#top_label {
 font-weight: bold;
}

#miniwidget image#overlay_image {
 -gtk-icon-effect: none;
 transition: 300ms ease;
 border-width: 0px;
 border-radius: 16px;
 background-color: rgba(0,0,0,0.8);
 opacity: 1;
}

#miniwidget image#overlay_image:indeterminate {
 opacity: 0;
}
